/* Limpeza de comportamentos padrão do navegador nos inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #0f172a inset !important;
    -webkit-text-fill-color: #e2e8f0 !important;
    transition: background-color 5000s ease-in-out 0s;
}

body {
    background-image: radial-gradient(circle at center, #1e293b 0%, #0f172a 100%);
}